.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
assets/dicom/
assets/copydcmfolders.sh
assets/copydcmfolders.txt
assets/config_ses-01.json
assets/dcm2bids_config.json
assets/dcm2bids_config_IRTG.json
assets/extract_dicom_info.py
assets/generate_session_config.py
assets/target/
assets/bash_files/
assets/README_dcm2bids_config.md
assets/samplesheets/

assets/input_pipeline/
assets/old_files/
assets/commands.txt
node_modules/
package-lock.json
package.json
.nf-test.log
