/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

// conf/modules.config

process {

  withName: 'FMRIPREP' {
    cpus     = 16
    memory   = 60.GB
    maxForks = 3
    errorStrategy = {
      params.ignore_fmriprep_fail
        ? (task.attempt <= 1? 'retry' : 'ignore')
        : 'terminate'
    }
    maxRetries = 1
    maxErrors = -1
  }

  withName: 'MRIQC_PARTICIPANT' {
    memory   = 30.GB
    cpus     = 16
    maxForks = 4
    time     = 120.h
  }

  withName: 'DCM2BIDS' {
    maxForks = 4
  }

  withName: 'PYDEFACE' {
    maxForks = 4
  }

  withName: 'AFNI_REFACER' {
    maxForks = 4
  }

  withName: 'FSL_DEFACE' {
    maxForks = 4
  }

  withName: 'MRI_DEFACE' {
    maxForks = 4
  }

}
